@use "../../styles/partials/global";


@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

.uploadvideocomponent {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 1rem;
  width: 100%;

  @include tablet{
    background-color: lightgray;
  }
}

.uploadvideocomponent {

  &__header {

    @include tablet{
      border-bottom: 1px global.$silver solid;
    }

    &--large {
      color: global.$brainflix-black;
      font-family: global.$avenirnext-bold;
    }

    &--little {
      padding: 0;
      margin: 0;
      font-family: global.$avenirnext-regular;
      text-transform: uppercase;
      color: global.$silver;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;

    &--label {
      display: block;
      font-family: global.$avenirnext-regular;
      color: global.$silver;
      text-transform: uppercase;
      padding-top: 1rem;
    }

    &--textarea {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      border-radius: 3px;
      background-color: global.$alabaster;

    }

    &--textarea::placeholder {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      // width: 100%;
      color: global.$brainflix-black;
      font-family: global.$avenirnext-regular;
    }

  }

}

.uploadvideocomponent__container {
  width: 100%;

  &--image {
    width: 100%;
    border-radius: 3px;
    // padding-bottom: 1rem;

    @include tablet{
      width: 50%;
      border-radius: 3px;
    }
  }
}

.uploadvideocomponent__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;

  @include tablet{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &--publish {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // display: flex;
    margin: 1rem 0;
    // padding: 0 2rem;
    background: global.$brainfix-blue;
    font-size: 1.5rem;
    text-align: center;
    border: 0.5rem global.$brainfix-blue solid;
    border-radius: 0.5rem;
    color: white;
    font-family: global.$avenirnext-regular;

    @include tablet{
      order: 2;
      margin-left: 6rem;
      padding: 0 3rem;
    }
  }

  &--cancel {
    // background-color: global.$brainfix-blue;
    margin: 1rem 0;
    // border: 0.5rem global.$brainfix-blue solid;
    border-radius: 0.5rem;
    color: global.$brainfix-blue;
    font-family: global.$avenirnext-bold;
    text-align: center;
    @include tablet{
      order: 1;
    }
  }
}