@font-face {
    font-family: avenirnext-bold;
    src: url(../../assets/fonts/AvenirNextLTProBold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: avenirnext-regular;
    src: url(../../assets/fonts/AvenirNextLTPro.ttf);
    font-style: normal;
    font-weight: 400;
  }

  $avenirnext-regular: 'avenirnext-regular';
$avenirnext-bold: 'avenirnext-bold';