//Fonts
@import "./fonts";
@import "./colors";

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin headerLarger {
  font-size: 33px;
  line-height: 44px;
}

@mixin subheaderLarger{
  font-size: 14px;
  line-height: 22px;
}

@mixin sectionHeaderLarger{
  font-size: 12px;
  line-height: 20px;
}

@mixin bodyCopyLarger{
  font-size: 14px;
  line-height: 22px;
}

@mixin flexBox-row {
  display: flex;
  flex-direction: row;
}


@mixin flexBox-column {
  display: flex;
  flex-direction: column;
}
@mixin flexBox-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin flexBox-column-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
}
@mixin flexBox-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin flexBox-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
}
@mixin display-none {
  display: none;
}

@mixin uppercase {
  text-transform: uppercase !important;
}


.desktop-VideoSectionComponent{
  display: none;
  width: 100%;
  @include tablet{
    display: none;
  }
  @include desktop{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    width: 45%;
    border-left: 1.5px $silver solid;
    padding-right: 6rem;
    margin: 0;
  }
}

.desktop-hide{
  @include desktop{
    display: none;
  }
}