//Fonts
@font-face {
    font-family: avenirnext-bold;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: avenirnext-regular;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
    font-style: normal;
    font-weight: 400;
  }
  
$avenirnext-regular: 'avenirnext-regular';
$avenirnext-bold: 'avenirnext-bold';



$brainfix-blue: #0095FF;
$brainfix-darkblue: #0065AD;
$white : #FFFFFF;
$mercury: #E1E1E1;
$brainflix-black:#323232;
$silver:#AFAFAF;
$mercury: #e1e1e1;
$alabaster: #fafafa;