//Fonts
@font-face {
  font-family: avenirnext-bold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: avenirnext-regular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

$avenirnext-regular: 'avenirnext-regular';
$avenirnext-bold: 'avenirnext-bold';



$brainfix-blue: #0095FF;
$brainfix-darkblue: #0065AD;
$white : #FFFFFF;
$mercury: #E1E1E1;
$brainflix-black: #323232;
$silver: #AFAFAF;
$mercury: #e1e1e1;
$alabaster: #fafafa;


@mixin headerLarger {
  font-size: 33px;
  line-height: 44px;
}

@mixin subheaderLarger{
  font-size: 14px;
  line-height: 22px;
}

@mixin sectionHeaderLarger{
  font-size: 12px;
  line-height: 20px;
}

@mixin bodyCopyLarger{
  font-size: 14px;
  line-height: 22px;
}

@mixin flexBox-row {
  display: flex;
  flex-direction: row;
}


@mixin flexBox-column {
  display: flex;
  flex-direction: column;
}
@mixin flexBox-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@mixin display-none {
  display: none;
}

@mixin uppercase {
  text-transform: uppercase !important;
}


// .testing{
//   @include desktop{
//     display: flex;
//     // background-color: lightblue !important;
//     width: 100%;
//     padding-left: 6rem;
//   }

//   &-div{
//     @include desktop{
//       width: 65%;
//     }
//   }
// }


.desktop-VideoSectionComponent{
  display: none;
  width: 100%;
  @include tablet{
    display: none;
  }
  @include desktop{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    // width: 25%;
    width: 45%;
    // background-color: blue;
    border-left: 1.5px $silver solid;
    padding-right: 6rem;
    margin: 0;
  }
}

.desktop-hide{
  @include desktop{
    display: none;
  }
}