@use "../../styles/partials/global";

.nextvideos{
    &--header{
        margin: 0;
        font-family: global.$avenirnext-regular;
        color: global.$silver;
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 12px;
        padding-left:1rem;
    }
}