@use "../../styles/partials/global";


@mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }

.nextvideos{
    &--header{
        margin: 0;
        font-family: global.$avenirnext-regular;
        color: global.$silver;
        padding: 1rem 0;
        // text-transform: uppercase;
        @include global.uppercase;
        font-size: 12px;
        padding-left:1rem;
    }

    @include desktop{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__navlink{
      text-decoration: none;
    }
}